{% extends 'base.html.twig' %}

{% block container %}
    {% block slider %}
        <!--Main Slider-->
        <section class="main-slider">

            <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper"
                 data-source="gallery">
                <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                    <ul>

                        {% for slider in sliderItems %}

                            <li data-description="Slide Description" data-easein="default" data-easeout="default"
                                data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade"
                                data-hideafterloop="0"
                                data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default"
                                data-param1=""
                                data-param10="" data-param2="" data-param3="" data-param4="" data-param5=""
                                data-param6=""
                                data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off"
                                data-slotamount="default" data-thumb="{{ asset('images/main-slider/' ~slider.image) }}"
                                data-title="Slide Title"
                                data-transition="parallaxvertical">
                                <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10"
                                     data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina=""
                                     src="{{ asset('images/main-slider/' ~slider.image) }}">

                                <div class="tp-caption"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingtop="[0,0,0,0]"
                                     data-responsive_offset="on"
                                     data-type="text"
                                     data-height="none"
                                     data-width="['650','650','550','420']"
                                     data-whitespace="normal"
                                     data-hoffset="['15','15','15','15']"
                                     data-voffset="['-90','-100','-100','-85']"
                                     data-x="['left','left','left','left']"
                                     data-y="['middle','middle','middle','middle']"
                                     data-textalign="['top','top','top','top']"
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                     style="z-index: 7; white-space: nowrap;">
                                    <h2>Triumph helps you <br> to save time and <br> money.</h2>
                                </div>

                                <div class="tp-caption"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingtop="[0,0,0,0]"
                                     data-responsive_offset="on"
                                     data-type="text"
                                     data-height="none"
                                     data-width="['550','550','550','420']"
                                     data-whitespace="normal"
                                     data-hoffset="['15','15','15','15']"
                                     data-voffset="['50','35','25','10']"
                                     data-x="['left','left','left','left']"
                                     data-y="['middle','middle','middle','middle']"
                                     data-textalign="['top','top','top','top']"
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                     style="z-index: 7; white-space: nowrap;">
                                    <div class="text">Triumph business theme continues to grow every day <br> thanks to
                                        the
                                        confidence.
                                    </div>
                                </div>

                                <div class="tp-caption tp-resizeme"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingtop="[0,0,0,0]"
                                     data-responsive_offset="on"
                                     data-type="text"
                                     data-height="none"
                                     data-width="['550','550','550','420']"
                                     data-whitespace="normal"
                                     data-hoffset="['15','15','15','15']"
                                     data-voffset="['145','130','130','110']"
                                     data-x="['left','left','left','left']"
                                     data-y="['middle','middle','middle','middle']"
                                     data-textalign="['top','top','top','top']"
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                     style="z-index: 7; white-space: nowrap;">
                                    <a href="#" class="theme-btn btn-style-one">Read More</a>
                                </div>

                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <!--End Main Slider-->
    {% endblock %}
{% endblock %}